@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
    --background: #0e0e0e;
    --background-secondary: #181818;
    --background-tertiary: #232323;
    --primary: #c5ff8b;
    --primary-muted: #232a1e;
    --on-primary: #000000;
    --foreground: #ffffff;
    --foreground-muted: #adaaaa;
}

@theme inline {
    --color-background: var(--background);
    --color-background-secondary: var(--background-secondary);
    --color-background-tertiary: var(--background-tertiary);
    --color-foreground-muted: var(--foreground-muted);

    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-on-primary: var(--on-primary);
    --color-primary-muted: var(--primary-muted);

    --font-heading: var(--font-heading-cn);
    --font-body: var(--font-body-cn);

    --spacing-titlebar: 5rem;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body), sans-serif;
    overflow-x: hidden;
}
